.Company-Button{
    color: #ffffff;
    background-color: #720c27;
    border: none;

    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    width: 20%;
    height: 36px;
  
}

