.athithi-book-main-div{
    /* border:1px solid red; */
    padding-top: 60px;
    padding-left: 100px;
}
.layout-heading-tag-h1{
    color: maroon;
    margin-left: 10px;
}
.layout-link-div{
    margin-top: 70px;
}
.signin-link{
    text-decoration: none;
    background-color: rgb(77, 112, 218);
    color: white;
    height: 50px;
    font-size: 16px;
    width: 48%;
    /* border: 2px solid rgb(49, 67, 233); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: 500;
}
.signin-link:hover{
    color: white;
    /* background-color: rgb(29, 36, 26); */
    background: linear-gradient(90deg, rgb(39, 39, 41) 0%, rgb(77, 196, 53) 35%, rgb(3, 29, 36) 100%);
    border: none;
}
.signup-link{
    text-decoration: none;
    background-color: rgb(104, 8, 67);
    color: white;
    height: 50px;
    font-size: 16px;
    width: 48%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: 500;

}
.signup-link:hover{
    color: white;
}

.layout-main-col{
     /* background: rgb(2,0,36); */
    /*background: linear-gradient(90deg, rgb(1, 1, 3) 0%, rgb(178, 178, 192) 35%, rgb(219, 226, 228) 100%); */
}
.layout-left-main-col{
   
}

@media (max-width:767px){
    .Layout-Imge-Col{
        display: none;
    }
    .athithi-book-main-div{
        /* border:1px solid red; */
        padding-top: 20px;
        padding-left: 35px;

        padding-right: 35px;
    }

    .layout-link-div{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .signin-link{
        height: 45px;
    }
    .signup-link{
        height: 45px;
    }

}

@media (max-width:450px){
    .athithi-book-main-div{
        /* border:1px solid red; */
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .layout-link-div{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .signin-link{
        height: 40px;
    }
    .signup-link{
        height: 40px;
    }
}